<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Incluir el fragmento del head -->
    <th:block th:include="templates/head.html"></th:block>

    <link rel="stylesheet" th:href="@{/css/inicioSesion.css}"/>
</head>

<body>
<header>
    <div class="menu">
        <a href="#index">Catalogo</a>
        <a href="#registro">Registrate</a>
    </div>
</header>

<div class="contenedor-principal">
    <div class="primero">
        <img th:src="@{/img/hero-inicio.avif}" alt="" class="hero-inicio"/>

        <div class="info-inicio">
            <div class="container-img">
                <img th:src="@{/img/rasnikLogo.jpeg}" alt=""/>
            </div>
            <h1>¡Bienvenido de nuevo!</h1>
            <p>
                Ya eres parte de nuestra comunidad de apasionados por la pastelería.
                <br/>
                Inicia sesión para seguir aprendiendo y descubriendo nuevas técnicas
                <br/>
                <span>¡Estamos emocionados de tenerte de vuelta!</span>
            </p>
        </div>
    </div>

    <div class="segundo">
        <img th:src="@{/img/hero-inicio-1.avif}" alt="" class="hero-inicio"/>

        <div class="info-inicio">
            <h1>Iniciar sesion</h1>

            <form action="#" th:action="@{/validar-login}" method="POST" th:object="${datosLogin}">

                <input th:field="*{email}" id="email" type="email" required placeholder="Email"/>
                <input th:field="*{password}" type="password" id="password" required placeholder="Contraseña"/>

                <input type="submit" name="envio" id="inicioSesion" value="Iniciar sesion">

                <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}"></p>
            </form>
            <p class="mt-3">Olvide mi <a href="#olvidePass" class="password">contraseña</a></p>

            <p>¿No tienes una cuenta? <a th:href="@{/nuevo-usuario}" class="password">Registrate</a></p>
        </div>
    </div>


    <div class="redesInicio">
        <img th:src="@{/img/youtube.svg}" alt="">
        <img th:src="@{/img/instagram.svg}" alt="">
        <img th:src="@{/img/tiktok.svg}" alt="">

    </div>
</div>

</body>
</html>
